[user]
  name = David Steinberger
  email = mail.steinberger@gmail.com
	signingkey = 0x7EF2450C17A54023

[core]
  quotepath = false
  autocrlf = input
  pager = delta --features "$(defaults read -globalDomain AppleInterfaceStyle &> /dev/null && echo dark-mode || echo light-mode)"

[interactive]
    diffFilter = delta --color-only --features "$(defaults read -globalDomain AppleInterfaceStyle &> /dev/null && echo dark-mode || echo light-mode)"

[pager]
  blame  = delta
  diff   = delta
  reflog = delta
  show   = delta

[push]
  default = simple

[http]
	sslVerify = false
	postBuffer = 157286400
	version = HTTP/2

[commit]
	gpgsign = true

[gpg]
	program = /run/current-system/sw/bin/gpg

[delta "light-mode"]
  navigate = true
  side-by-side = true
  light = true

[delta "dark-mode"]
  navigate = true
  side-by-side = true
  syntax-theme = gruvbox-dark
  plus-style = syntax "#333333"

[merge]
  ; conflictstyle = diff3
  tool = vimdiff

[mergetool]
  hideResolved = true
  keepBackup = false

[diff]
  colorMoved = default
  tool = vimdiff

[mergetool "vimdiff"]
  hideResolved = true
  cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[pull]
	rebase = true

[rebase]
	autoStash = true
