[user]
  name = David Steinberger
  email = mail.steinberger@gmail.com
	signingkey = 0x7EF2450C17A54023

[core]
  quotepath = false
  autocrlf = input
  pager = delta --features "$(defaults read -globalDomain AppleInterfaceStyle &> /dev/null && echo dark-mode || echo light-mode)"

[interactive]
    diffFilter = delta --color-only --features "$(defaults read -globalDomain AppleInterfaceStyle &> /dev/null && echo dark-mode || echo light-mode)"

[push]
  default = simple

[http]
	sslVerify = false

[commit]
	gpgsign = true

[gpg]
	program = /opt/homebrew/bin/gpg

[delta "light-mode"]
  navigate = true
  side-by-side = true
  light = true

[delta "dark-mode"]
  navigate = true
  side-by-side = true
  syntax-theme = gruvbox-dark
  plus-style = syntax "#333333"

[merge]
  ; conflictstyle = diff3
  tool = vimdiff

[mergetool]
  hideResolved = true
  keepBackup = false

[diff]
  colorMoved = default
  tool = vimdiff

[mergetool "vimdiff"]
  hideResolved = true
  cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[pull]
	rebase = true

[rebase]
	autoStash = true

[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager

[credential "https://dev.azure.com"]
	useHttpPath = true
