.DS_Store
tmux/.config/tmux/plugins
lazygit/.config/lazygit/state.yml
LazyVim/.config/LazyVim/typrstats
LazyVim/.config/LazyVim/lua/plugins/local.lua
karabiner/.config/karabiner/automatic_backups
.aider*
!aider/*
OpenCode.md
.env
node_modules/
